@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    box-sizing:border-box;
}

body {
    text-align: center;
    /* width: 1100 px; */
    font-family: montserrat;
}

#masthead li ,a {
    font-family: "Montserrat", sans-serif;
    padding: 30px;
    padding-bottom: 30px;
    position: relative;
    font-weight: 500;
    font-size: 23px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#masthead{
    font-size: 30px;
}
#masthead.nav ul {
    float:right;
    list-style-type: none;
    padding: 50px;
}

#masthead nav ul li {
    display:inline-block;
}

#masthead nav ul li a {
    text-decoration:none;
    padding: 2px;
    transition: 0.3s ease;
    position:relative;
}

#masthead nav ul li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
}


/* Footer starts here --------------------*/
footer {
    /* background: rgb(255, 255, 255); */
    height: auto;
    width: 99.5vw;
    font-family: Montserrat;
    padding: 8px;
    bottom:0;
    padding-top: 70px;
}

.footer-content.nav ul {
    float:right;
    list-style-type: none;
    padding: 50px;
}

.footer-content nav ul li {
    display:inline-block;
}

.footer-content nav ul li a {
    text-decoration:none;
    padding: 15px 20px;
    /* border: 1px solid rgb(255, 255, 255); */
    /* background-color: #000000; */
    transition: 0.3s ease;
    /* padding: 40px; */
    position:relative;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    display:inline-block;
}

.footer-content nav ul li a:hover {
    background-color: #ffffff;
    /* color: rgb(10, 10, 10); */
    /* letter-spacing: 9px; */
    /* padding: 9px; */
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}


/* image black n white ------------*/
#bigjim {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 0.3s ease;
}

#bigjim:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}


/* p tag  */
.rights1  {
    color: white;
}

.rights2  {
    color: white;
    /* background-color: #e28787; */
    margin-top: 2px;
    padding: 5px;
}

#Tribute {
    color: white;
    padding: 19px;
    font-size: 30px;
}

.socials li :hover i.fa-instagram{
    color: #bc2a8d;
}

.socials li:hover i.fa-twitter{
    color: #1da1f2;
}

.socials li:hover i.fa-linkedin{
    color: #0f61fb;
}

.footer-content {
    align-items: center;
    justify-content: center;
    position: relative;
}

.common-content {
    color: white;
}

.common-content #figcaption-a-1 {
    padding: 0px;
    color: #ffffff;
    font-size: 13px;
}

.all-h1 {
    padding: 10px;
    padding-top: 50px;
    color: white;
}

.all-p {
    padding-bottom: 15px;
    padding-right: 440px;
    padding-left: 440px;
    color: #ffffff;
}

/* this is for personal life ----------------*/
.ficaption1 img{
    height: 430px;
    padding-top: px;
}

.ficaption2 img{
    height: 430px;
    padding-top: 10px;
}

.ficaption3 img {
    height: 430px;
    padding-top: 10px;
}

.ficaption4 img {
    height: 360px;
    padding-top: 10px;
}


/* this is for famous movies ----------------*/
.ficaption5 img{
    height: 360px;
    padding-top: 10px;
}

.ficaption6 img{
    height: 360px;
    padding-top: 10px;
}

.ficaption7 img {
    height: 400px;
    padding-top: 10px;
}

.ficaption8 img {
    height: 360px;
    padding-top: 10px;
}

/* this is the my custom scrollbar----------------- */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #000000; 
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(206, 195, 195); 
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(207, 51, 51); 
}


/* From here the border starts for the awards page-------------- */
.content-table {
    border-collapse: collapse;
    margin: 9px 0;
    font-size: 0.9rem;
    min-width: 400px;
    border-radius: 0 0 0 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.content-table thead tr {
    background-color: #ff3c00;
    color: #ffffff;
    text-align:center;
    font-weight: bold;
    
}

.content-table th 
.content-table td {
    padding: 12px 15px;
    height: 70px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ffffff;
    color: rgb(255, 255, 255);
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #5f0d0df3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #ff0000;
}

.content-table thead tr.active-row {
    font-weight: bold;
    color: #f33232;
}

.awards-section-h1 .award {
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 40px;
    text-transform: uppercase;
}

.bottom-padding-table {
    padding-bottom: 30px;
    padding-top: 50px;
}


/* twitter embed -------------*/
.twitter-tweet {
    margin:auto;
}